@media screen and (min-width:990px) {
    .toggle,.res-div{
        display: none;
    }
}
.res-div{
    /* margin-top: 10%; */
    width: 85%;
    margin-left: 4%;
   
    z-index: 9999;
    position: fixed;
    top: 110px;
    background-color: white;
    border-radius: 15px;
    padding-top: 3%;
}

